# docker image and application port to expose app
DOCKER_IMAGE=dleemoo/dns-app:0.0.1
EXTERNAL_PORT=3456

# framework configuration
# RAILS_ENV=development
# Secret key base (can be generated with the command: rake secret)
SECRET_KEY_BASE=249a1f15399408089ab519cbe61099383fea3c68e2493c5cdd0c078acff7eec87296efdb8fadb47819a6721f02a7a69f1d5e25c5cebb0a5e11069d593ae169dc

# For development and test environments, the file config/database.yml defines
# the database name and we can follow with database URI that doesn't include
# database name here.
#
# The example provided for database.yml require the database name for
# production to be set here (full Postgres URI, including database name).
DATABASE_URL=postgres://postgres@pg12db
